<section class="section section-details-background">
    <div class="container">
        <h2 class="section__title">Ми допомагаємо</h2>
        <ul class="details">
            <li class="details__item">
                <div class="details__item-box">
                    <svg class="details__item-image">
                        <use href="./images/icons/oscar.svg#Layer_1"></use>
                    </svg>
                </div>
                <h3 class="details__item-title">Прокачати акторські навики</h3>            </li>
            <li class="details__item">
                <div class="details__item-box">
                    <svg class="details__item-image">
                        <use href="./images/icons/icons-main.svg#karaoke"></use>
                    </svg>
                </div>
                <h3 class="details__item-title">Говорити чітко і переконливо </h3>            </li>
            <li class="details__item">
                <div class="details__item-box">
                    <svg class="details__item-image">
                        <use href="./images/icons/teamwork.svg#Layer_1"></use>
                    </svg>
                </div>
                <h3 class="details__item-title">Прибрати зажими та бути розкутими</h3>
            </li>
            <li class="details__item">
                <div class="details__item-box">
                    <svg class="details__item-image">
                        <use href="./images/icons/presentation.svg#Layer_1"></use>
                    </svg>
                </div>
                <h3 class="details__item-title">Переконливо виступати на публіці </h3>            </li>
        </ul>
    </div>
</section>

<section class="section">
    <h2 class="section__title reviews__title">Відгуки про нас</h2>

    <div class="slider multiple-items container">
        <div>
            <img class="reviews__image" src="./images/reviews/f09.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f10.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f08.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f07.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f06.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f05.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f04.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f03.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f02.jpg" alt="">
        </div>
        <div>
            <img class="reviews__image" src="./images/reviews/f01.jpg" alt="">
        </div>

      </div>
</section>
    
