<div class="edge-main-box">
    <div class="edge-title-box">
        <p class="title-box-edge">Чому обирають наш курс?</p>
    </div>
    <div class="edge-sec-box">
        <div class="edge-boxic">
            <p class="title-sec-edge"><span class="study-amount"></span></p>
            <p class="text-sec-edge">Проведених занятть</p>
        </div>
        <div  class="edge-boxic">
            <p class="title-sec-edge"><span class="study-amount-kids"></span></p>
            <p class="text-sec-edge">Дiтей зараз навчаються на нашому курсi</p>
        </div>
        <div  class="edge-boxic">
            <p class="title-sec-edge">4.9/5</p>
            <p class="text-sec-edge">Оцiнка нашого курсу вiд квалiфiкованих педагогiв</p>
        </div>
    </div>
</div>