<footer class="footer">
    <div class="footer__container container">
        <div class="footer__contacts-box">
            <a href="./index.html" class="logo logo_c-white"><span class="logo__colored">За</span>говори</a>
            <address>
                <ul class="footer__contact-list">
                    <li class="footer__contact-item">
                        <a class="footer__contact-address" href="">м. Бориспіль, вул.Верхній Вал, 29-А</a>
                    </li>
                    <li class="footer__contact-item">
                        <a class="footer__contact-link" href="mailto:info@zagovoru.com.ua">info@zagovoru.com.ua</a>
                    </li>
                    <li class="footer__contact-item">
                        <a class="footer__contact-link" href="tel:+380687355437">+38-068-73-55-437</a>
                    </li>
                </ul>
            </address>
        </div>
        
        <div class="footer__socials-box">
            <h3 class="footer__title">МИ У СОЦМЕРЕЖАХ</h3>
            <ul class="footer__socials">
                <li class="socials__item">
                    <a target="_blank" href="https://www.instagram.com/zagovoru" class="socials__link _color-change">
                        <svg class="socials__image">
                            <use href="./images/icons/socials.svg#icon-inst"></use>
                        </svg>
                    </a>
                </li>

                <li class="socials__item">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100031102341626" class="socials__link _color-change">
                        <svg class="socials__image">
                            <use href="./images/icons/socials.svg#icon-fb"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="subscribe-box">
            <h3 class="footer__title">ПІДПИСАТИСЬ НА НАШ ТЕЛЕГРАМ</h3>
            
            <label for="subscribe-input"></label>

            <a target="_blank" href="https://t.me/oratory1" class="btn footer__btn">Підписатись
                <span class="subscribe-btn-box">
                    <svg class="subscribe-btn-icon">
                        <use href="./images/icons/icon-telegram.svg#icon-telegram"></use>
                    </svg>
                </span>
            </a>

        </div> 
    </div>
</footer>