<section class="section-form">
    <div class="container">
        <div class="form">
            <h1 class="form-title">Для запису на заняття, напишіть нам:</h1>
            <a target="_blank" href="https://www.instagram.com/zagovoru/">
                <img src="./images//instagram-2-1-logo-svgrepo-com.svg" alt="">
            </a>
            <a target="_blank" href="viber://add?number=380687355437">
                <img src="./images/viber-3-logo-svgrepo-com.svg" alt="">
            </a>
            <h2 class="form-title second">Або зателефонуйте прямо зараз:</h2>
            <a target="_blank" class="header__address-link second" href="tel:+380687355437"> <svg class="header__adress-icon">
                <use href="./images/icons/contacts.svg#icon-tel"></use>
            </svg>+38-068-73-55-437</a>
        </div>
    </div>
</section>