<section class="section-form">
    <div class="container">
        <div class="form">
            <h1 class="form-title">Записатися на заняття:</h1> 
            <div class="form-box-one">
                <a target="_blank" href="https://www.instagram.com/zagovoru/">
                    <img src="./images//instagram-2-1-logo-svgrepo-com.svg" alt="">
                </a>
                <a target="_blank" href="viber://add?number=380687355437">
                    <img src="./images/viber-3-logo-svgrepo-com.svg" alt="">
                </a>
            </div>
            <p class="form-subscr">*Натисніть на iконку для переходу в додаток</p>
            
            <h2 class="form-title second">Або зателефонуйте прямо зараз:</h2>
            <a target="_blank" class="header__address-link second" href="tel:+380687355437">+38-068-73-55-437</a>
        </div>
    </div>
</section>