<section class="section grups">
    <div class="container">
        <h2 class="section__title">Групи</h2>
        <ul class="grups-list">
            <li class="grups-item">

                <div class="grups-box">
                    <h3 class="grups-name">Діти 6-9 років</h3>
                    <ul class="grups-name-list">
                        <li class="grups-name-item"><p class="grups-post">розкриваємо творчий потенціал</p></li>
                        <li class="grups-name-item"><p class="grups-post">розвиваємо комунікативні навички</p></li>
                        <li class="grups-name-item"><p class="grups-post">вдосконалюємо техніку мовлення</p></li>
                        <li class="grups-name-item"><p class="grups-post">прибираємо зажими та стаємо розкутими</p></li>
                    </ul>
                    <a class="btn grups-box-price" href="https://www.instagram.com/zagovoru/">1 заняття - 90 грн</a>
                </div>
            </li>
            <li class="grups-item">

                <div class="grups-box">
                    <h3 class="grups-name">Діти 10-14 років</h3>
                    <ul class="grups-name-list">
                        <li class="grups-name-item"><p class="grups-post">формуємо базові поняття публічного виступу</p></li>
                        <li class="grups-name-item"><p class="grups-post">відкриваємо секрети успішних та впевнених ораторів</p></li>
                        <li class="grups-name-item"><p class="grups-post">експериментуємо та генеруємо творчі ідеї</p></li>
                        <li class="grups-name-item"><p class="grups-post">прокачуємо акторські навики</p></li>
                    </ul>
                    <a class="btn grups-box-price" href="https://www.instagram.com/zagovoru/">1 заняття - 100 грн</a>
                </div>
            </li>
            <li class="grups-item">

                <div class="grups-box">
                    <h3 class="grups-name">Індивідуальні заняття</h3>
                    <ul class="grups-name-list">
                        <li class="grups-name-item"><p class="grups-post">індивідуальний підхід до кожного</p></li>
                        <li class="grups-name-item"><p class="grups-post">авторська програма, яка за короткий проміжок часу, допоможе дитині прокачати творчі навички, покращити дикцію.</p></li>
                        <li class="grups-name-item"><p class="grups-post">навчить переконливо виступати на публіці та відстоювати власну точку зору.</p></li>
                        <li class="grups-name-item"><p class="grups-post">також, беруться до уваги всі ваші запити та пропозиції</p></li>
                    </ul>
                    <a class="btn grups-box-price" href="https://www.instagram.com/zagovoru/">1 заняття - 300 грн</a>
                </div>
            </li>
        </ul>
    </div>
</section>