<section class="section our-team">
    <div class="container">
        <h2 class="section__title">Групи</h2>
        <ul class="our-team-list">
            <li class="our-team-item">

                <div class="our-team-box">
                    <h3 class="our-team-name">Діти 6-9 років</h3>
                    <ul class="our-team-name-list">
                        <li class="our-team-name-item"><p class="our-team-post">розкриваємо творчий потенціал</p></li>
                        <li class="our-team-name-item"><p class="our-team-post">розвиваємо комунікативні навички</p></li>
                        <li class="our-team-name-item"><p class="our-team-post">вдосконалюємо техніку мовлення</p></li>
                        <li class="our-team-name-item"><p class="our-team-post">прибираємо зажими та стаємо розкутими</p></li>
                    </ul>
                    <button data-modal-open class="btn our-team-box-price" type="button">12 занять - 1800 грн</button>
                </div>
            </li>
            <li class="our-team-item">

                <div class="our-team-box">
                    <h3 class="our-team-name">Діти 10-14 років</h3>
                    <ul class="our-team-name-list">
                        <li class="our-team-name-item"><p class="our-team-post">формуємо базові поняття публічного виступу</p></li>
                        <li class="our-team-name-item"><p class="our-team-post">відкриваємо секрети успішних та впевнених ораторів</p></li>
                        <li class="our-team-name-item"><p class="our-team-post">експериментуємо та генеруємо творчі ідеї</p></li>
                        <li class="our-team-name-item"><p class="our-team-post">прокачуємо акторські навики</p></li>
                    </ul>
                    <button data-modal-open class="btn our-team-box-price" type="button">12 занять - 1950 грн</button>
                </div>
            </li>
            <li class="our-team-item">

                <div class="our-team-box">
                    <h3 class="our-team-name">Індивідуальні заняття</h3>
                    <ul class="our-team-name-list">
                        <li class="our-team-name-item"><p class="our-team-post">індивідуальний підхід до кожного</p></li>
                        <li class="our-team-name-item"><p class="our-team-post">авторська програма, яка за короткий проміжок часу, допоможе дитині прокачати творчі навички, покращити дикцію.</p></li>
                        <li class="our-team-name-item"><p class="our-team-post">навчить переконливо виступати на публіці та відстоювати власну точку зору.</p></li>
                        <li class="our-team-name-item"><p class="our-team-post">також, беруться до уваги всі ваші запити та пропозиції</p></li>
                    </ul>
                    <button data-modal-open class="btn our-team-box-price" type="button">1 заняття - 300 грн</button>
                </div>
            </li>
        </ul>
    </div>
</section>