<div class="mobile-menu__modal is-hidden" data-menu>
    <nav class="mobile-menu__modal-nav">
        <ul class="mobile-menu__list">
                <li class="mobile-menu__item"><a class="mobile-menu__link" href="./index.html">Головна</a></li>
                <li class="mobile-menu__item"><a class="mobile-menu__link" href="./programs.html">Програма курсу</a></li>
                <li class="mobile-menu__item"><a class="mobile-menu__link header__menu-link-color" href="./forma.html">Записатись на курс</a></li>
        </ul>

        <ul class="mobile-menu__contacts">
            <li class="mobile-menu__contacts-item">
                <a class="mobile-menu__contacts-tel" href="tel:+380687355437">+38-068-73-55-437</a>
            </li>
            <li class="mobile-menu__contacts-item">
                <a class="mobile-menu__contacts-mail" href="mailto:info@zagovoru.com.ua">info@zagovoru.com.ua</a>
            </li>
            </ul>
                <ul class="mobile-menu__socials">
                    <li class="mobile-menu__socials-item"> <a target="_blank" class="mobile-menu__socials-link  _column" href="https://www.instagram.com/zagovoru">Instagram</a> </li>
                    <li class="mobile-menu__socials-item"> <a target="_blank" class="mobile-menu__socials-link" href="https://www.facebook.com/profile.php?id=100031102341626">Facebook</a> </li>
                </ul>
            </nav>
        
        
        
                <div class="mobile-menu__close" data-menu-close>
            <svg class="mobile-menu__close-icon">
                <use class="mobile-menu__close-icon-close" href="./images/icons/open-close.svg#icon-close"></use>
            </svg>
        </div>
</div>