<header class="header header-programs">
    <div class="container header__container">
        <nav class="header__nav">
            <!-- <img class="logo-image" src="./images/icons/megaphone.svg" alt=""> -->
            <a href="./index.html" class="logo logo-image-svg">
                <span class="logo__colored">За</span>говори</a>
            <ul class="header__menu">
                <li class="header__menu-item"><a class="header__menu-link" href="./index.html">Головна</a></li>
                <li class="header__menu-item  active"><a class="header__menu-link  header__menu-link-color" href="./programs.html">Програма курсу</a></li>
            </ul>
        </nav>
        <ul class="header__address">
            <li class="header__address-item">
                <a class="header__address-link" href="mailto:info@zagovoru.com.ua"> <svg class="header__adress-icon">
                        <use href="./images/icons/contacts.svg#icon-mail"></use>
                    </svg>info@zagovoru.com.ua</a>
            </li>
            <li class="header__address-item">
                <a class="header__address-link" href="tel:+380687355437"> <svg class="header__adress-icon">
                        <use href="./images/icons/contacts.svg#icon-tel"></use>
                    </svg>+38-068-73-55-437</a>
            </li>
        </ul>
        <button type="button" 
        class="header__open-menu is-open"
        data-menu-open 
        aria-label="Переключатель меню">
          <svg class="header__open-menu-icon">
              <use class="header__open-menu-icon-cross" href="./images/icons/open-close.svg#icon-burg"></use>
          </svg>
        </button>
    </div>
</header>