<section class="section section-programs">
    <div class="container">
        <!-- <ul class="kurs__list">
            <li class="kurs__list-item"><p class="kurs__list-item-text">Ораторське мистецтво – мистецтво гарно говорити. Розкриваємо базові поняття курсу.</p></li>
            <li class="kurs__list-item"><p class="kurs__list-item-text">Дихання та артикуляція – фундаментальні основи техніки мовлення.</p></li>
            <li class="kurs__list-item"><p class="kurs__list-item-text">Психологічний тренінг: страх публіки та сцени, як їх побороти?!</p></li>
            <li class="kurs__list-item"><p class="kurs__list-item-text">Емоційний діапазон оратора.</p></li>
            <li class="kurs__list-item"><p class="kurs__list-item-text">Розвиток польотності голосу. Сила голосу.</p></li>
            <li class="kurs__list-item"><p class="kurs__list-item-text">Успішний виступ: яким він має бути?  </p></li>
            <li class="kurs__list-item"><p class="kurs__list-item-text">Імпровізація виступу: що це і для чого вона потрібна?</p></li>
            <li class="kurs__list-item"><p class="kurs__list-item-text">Чітка дикція та техніка дихання. </p></li>
            <li class="kurs__list-item"><p class="kurs__list-item-text">Дитячі дебати, або навіщо дітям вміти сперечатися?</p></li>
            <li class="kurs__list-item"><p class="kurs__list-item-text">Камера та мікрофон – кращий друг оратора.</p></li>
            <li class="kurs__list-item"><p class="kurs__list-item-text">Акторський тренінг: сам собі режисер.</p></li>
            <li class="kurs__list-item"><p class="kurs__list-item-text">Відпрацювання всіх ораторських вмінь та навичок.</p></li>
        </ul> -->
        <!-- <div class="kurs__box">
            <h2 class="section__title">Результати курсу помітні вже через місяць занять</h2>
            <svg class="kurs__box-icon">
                <use href="./images/procent.svg#procent"></use>
            </svg>
            <p class="kurs__box-text">*батьків рекомендують нас своїм знайомим та друзям!</p>
        </div> -->

<!-- Thets -->

            <!-- <ul class="portfolio__list">
                <li class="portfolio__item">
                    <div class="portfolio__item-box">

                        <img class="portfolio__item-box-image"
                        src="./images/portfolio-image/or.jpg" 
                        srcset="./images/portfolio-image/or.jpg 1x, ./images/portfolio-image/or.jpg 2x" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Ваш голос - ваша зброя! Вчимось відкривати красу та милозвучність власного голосу.</p>
                        </div>
                    </div>
                    <div class="portfolio__description-box _box-padding">
                        <h3 class="portfolio__description-title">Ораторське мистецтво – мистецтво гарно говорити</h3>
                        <p class="portfolio__description-text">Розкриваємо базові поняття курсу.</p>
                    </div>
                </li>


                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                       
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image1.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Практикуємо артикуляційні та дихальні гімнастики. Прокачуємо мовленнєвий запас слів.</p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Дихання та артикуляція</h3>
                        <p class="portfolio__description-text">Фундаментальні основи техніки мовлення.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                       
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image2.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Прокачуємо впевненість у собі. Встановлюємо зоровий контакт з аудиторією та назавжди позбавляємось страху сцени та публіки!</p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Психологічний тренінг</h3>
                        <p class="portfolio__description-text">Страх перед публікою та сценою, як їх побороти?</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image3.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Розігріваємо емоційний стан. Вчимось контролювати та висловлювати власні почуття та емоції. </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Емоційний діапазон оратора</h3>
                        <p class="portfolio__description-text">Розвиток емоційного виступу.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                         <img class="portfolio__item-box-image"
                         src="./images/kurs-program/image4.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Додаємо голосу дзвінкості, гучності та органічної краси. </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Сила голосу</h3>
                        <p class="portfolio__description-text">Розвиток польотності голосу.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image5.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">До увашої уваги: 10 порад, які зроблять ваш виступ насиченим, цікавим та запам’ятовуючим! </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Успішний виступ</h3>
                        <p class="portfolio__description-text">Яким він має бути?</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image6.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Вмикаємо фантазію на всі 100%. Вчимось швидко та логічно складати виступи! </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Імпровізація виступу</h3>
                        <p class="portfolio__description-text"> Що це і для чого вона потрібна?</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                       
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image7.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Робота зі скоромовками, як основа чіткої, дикційної вимови. </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Чітка дикція</h3>
                        <p class="portfolio__description-text">Чітка дикція та техніка дихання.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image8.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Вчимось аргументувати власну позицію та відстоювати власну точку зору!</p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Дитячі дебати</h3>
                        <p class="portfolio__description-text">Навіщо дітям вміти сперечатися?</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image9.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Вчимось тримати себе в кадрі та працювати з мікрофоном! </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Камера та мікрофон</h3>
                        <p class="portfolio__description-text">Камера та мікрофон – кращий друг оратора.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image10.jpg"  
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Прокачуємо акторські навички. Прибираємо зажими та стаємо більш розкутими! </p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Акторський тренінг</h3>
                        <p class="portfolio__description-text">Акторський тренінг: сам собі режисер та актор.</p>
                    </div>
                </li>

                <li class="portfolio__item">
                    <div class="portfolio__item-box">
                        
                        <img class="portfolio__item-box-image"
                        src="./images/kurs-program/image12.jpg" 
                        alt="Веб-сайт" width="370">

                        <div class="portfolio__image-box">
                            <p class="portfolio__image-text">Інтернет платформи, які відкривають нові горизонти.</p>
                        </div>
                    </div>
                    <div class="portfolio__description-box">
                        <h3 class="portfolio__description-title">Ораторські навички </h3>
                        <p class="portfolio__description-text">Відпрацювання всіх ораторських вмінь та навичок.</p>
                    </div>
                </li>

            </ul> -->


            <h1 class="section__title">Програма курсу</h1>

            <h2 class="program-title">I PiВЕНЬ.Вступ.</h2>
            <ul class="program-list">
                <li class="program-list-item">Звільнення від психологічних та тілесних блоків.</li>
                <li class="program-list-item">Фундаментальні основи техніки мовлення.Дихання та артикуляція.</li>
                <li class="program-list-item">Емоційний діапазон оратора. Вчимось контролювати та висловлювати власні почуття та емоції.</li>
                <li class="program-list-item">Повне перезавантаження через акторські техніки – ментальний, емоційний, мовний та фізичний апгрейд.</li>
            </ul>

            <h2 class="program-title">II PiВЕНЬ.Основи.</h2>
            <ul class="program-list">
                <li class="program-list-item">Словесна імпровізація, поглиблення фокусу.</li>
                <li class="program-list-item">Свобода тіла. Прокачування тілесних затисків. Робота з мімікою та жестами.</li>
                <li class="program-list-item">Освоєння принципу словесної дії.</li>
                <li class="program-list-item">Дитячі дебати, або навіщо дітям вміти сперечатися?</li>
            </ul>

            <h2 class="program-title">III PiВЕНЬ.Поглиблення.</h2>
            <ul class="program-list">
                <li class="program-list-item">Акторський тренінг: сам собі режисер.</li>
                <li class="program-list-item">Камера та мікрофон - кращий друг оратора.</li>
                <li class="program-list-item">Тренажер на всі види пам'яті та концентрацію уваги</li>
            </ul>
            



    </div>
</section>